:root {
    --anchor-primary-color: #3366cc;
    --primary-color: #54595d;
    --line-color: #c8ccd1;
    --anchor-primary-font-size: 1.6rem;
    --anchor-secondary-font-size: 1.4rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}
/*-----SPRITE SVG-----*/
.sprite {
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-9ba8de1b.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.svg-wiki {
    background-position: 0 -254px;
    width: 176px;
    height: 32px;
}
.search-icon {
    background-position: 0 -66.9rem;
    width: 2.2rem;
    height: 2.2rem;
}
.translate-icon {
    background-position: 0 -68.86rem;
    width: 2.4rem;
    height: 2.2rem;
}
.arrow-down-blue {
    background-position: 0 -52.53rem;
    width: 1.1rem;
    height: 1rem;
}
.wikimedia-logo-black {
    background-position: 0 -21.2rem;
    width: 4.2rem;
    height: 4.2rem;
}
.wikipedia-app-tile {
    background-position: 0 -70.9rem;
    width: 4.2rem;
    height: 4.2rem;
}
.badge-google-play-store {
    background-position: 0 -53.5rem;
    width: 12.4rem;
    height: 3.8rem;
}
.badge-ios-app-store {
    background-position: 0 -57.3rem;
    width: 11rem;
    height: 3.8rem;
}
.commons-logo-sister {
    background-position: 0rem 0;
    width: 3.5rem;
    height: 4.7rem;
}
.wikivoyage-logo-sister {
    background-position: .6rem -44.6rem;
    width: 3.4rem;
    height: 3.4rem;
}
.wiktionary-logo-sister {
    background-position: .6rem -48.2rem;
    width: 3.6rem;
    height: 3.6rem;
}
.wikibooks-logo-sister {
    background-position: .4rem -12.6rem;
    width: 3.7rem;
    height: 3.7rem;
}
.wikinews-logo-sister {
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    width: 4.7rem;
    height: 2.5rem;
}
.wikidata-logo-sister {
    background-position: -.1rem -17.3rem;
    width: 4.4rem;
    height: 2.6rem;
}
.wikiversity-logo-sister {
    background-position: 0 -40.9rem;
    width: 4.1rem;
    height: 3.6rem;
}
.wikiquote-logo-sister {
    background-position: .3rem -28.3rem;
    width: 3.9rem;
    height: 4.5rem;
}
.mediawiki-logo-sister {
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-position: .3rem -4.7rem;
    width: 4rem;
    height: 4rem;
}
.wikisource-logo-sister {
    background-position: 0 -32.8rem;
    width: 3.9rem;
    height: 3.9rem;
}
.wikispecies-logo-sister {
    background-position: .4rem -36.7rem;
    width: 3.9rem;
    height: 4.1rem;
}
.meta-wiki-logo-sister {
    background-position: .5rem -8.9rem;
    width: 3.7rem;
    height: 3.7rem;
}
/*-----HEADER-----*/
header {
    width: 100%;
    height: 6.6rem;
    text-align: center;
}
.header-wikilogo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5.5rem auto .5rem;
}
header .logo-v2{
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 19.8rem;
}
header p {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: .8rem;
    color: #000000;
}
/*-----MAIN-----*/
a {
    text-decoration: none;
    color: var(--anchor-primary-color);
}
span {
    color: var(--anchor-primary-color);
    font-size: var(--anchor-primary-font-size);
    font-weight: bold;
}
p {
    color: var(--primary-color);
    line-height: 2rem;
}
.main-lang-section {
    position: relative;
    width: 54.6rem;
    height: 32.5rem;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 1.6rem auto 0;
}
.central-featured-lang {
    position: absolute;
    width: 15.6rem;
    height: 4.58rem;
}
.central-featured-lang p {
    margin-top: .4rem;
}
.lang-1 {
    top: 0;
    right: 60%;
}
.lang-2 {
    top: 0;
    left: 60%;
}
.lang-3 {
    top: 20%;
    right: 70%;
}
.lang-4 {
    top: 20%;
    left: 70%;
}
.lang-5 {
    top: 40%;
    right: 72%;
}
.lang-6 {
    top: 40%;
    left: 72%;
}
.lang-7 {
    top: 60%;
    right: 70%;
}
.lang-8 {
    top: 60%;
    left: 70%;
}
.lang-9 {
    top: 80%;
    right: 60%;
}
.lang-10 {
    top: 80%;
    left: 60%;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53rem;
    margin: 0.8rem auto 1.95rem;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 4.4rem;
    border: .1rem solid #a2a9b1;
}
.search-input {
    height: 100%;
    width: 100%;
}
.search-input input {
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    border: none;
    outline: none;
}
.lang-select select {
    border: none;
    margin-right: 1rem;
    padding: .4rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #ffffff;
}
.btn-search {
    width: 5.45rem;
    height: 4.4rem;
    background-color: var(--anchor-primary-color);
    border: none;
    border-radius: 0 .2rem .2rem 0;
    cursor: pointer;
}
.lang-list-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    margin: 3.2rem 0 0 0;
}
.lang-list-button {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1.6rem 1.4rem;
    border: .1rem solid #a2a9b1;
    border-radius: .2rem;
    outline: 1.6rem solid #fff;
    cursor: pointer;
}
.lang-list-button span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--anchor-secondary-font-size);
    padding: 0 .8rem;
}
.lang-list-border {
    background-color: #c8ccd1;
    position: relative;
    max-width: 46rem;
    width: 80%;
    margin: -1.6rem auto 1.6rem;
    height: .1rem;
}
.border {
    background-color: #c8ccd1;
    width: 99%;
    height: .1rem;
    margin: 5rem auto 0;
}
/*-----FOOTER-----*/
footer {
    display: flex;
    padding: 4.16rem 1.28rem 1.28rem;
}
.sidebar-container {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 60%;
}
.donation-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3.4rem;
}
.donation-text-container {
    width: 28rem;
    margin-left: 1rem;
}
.app-download-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.app-download-container {
    display: flex;
    background-color: #f8f9fa;
    height: 19.8rem;
    padding: .8rem 2rem 0 .8rem;
    
}
.app-download-text-container {
    width: 27rem;
    height: 19.7rem;
    margin-left: 1rem;
}
.app-download-text-container strong {
    color: var(--primary-color);
}
.app-download-text-container p {
    margin: 1.3rem 0;
}
.wikis-container {
    display: flex;
    flex-wrap: wrap;
}
.wiki-box {
    float: left;
    position: relative;
    width: 33%;
    height: 9rem;
}
.wiki-text-container {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 1.3rem;
}
.wiki-text-container span {
    font-size: var(--anchor-secondary-font-size);
    font-weight: 400;
}
.wiki-text-container div:first-child {
    width: 5.3rem;
}
.wiki-text-container div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-section-container .border {
    margin: 2rem auto 0;
}
.licence-terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}
.licence-terms-container li {
    text-align: center;
}
/*-----MAIN PSEUDOCLASES----*/
.primary-box:active, .primary-box:focus {
    outline: 1px solid #36c;
}
.primary-box:hover {
    background-color: #eaecf0;
}
.primary-box:hover span {
    text-decoration: underline;
}
.search-box:hover {
    border-color: #72777d;
}
.lang-select select:hover {
    background-color: #f8f9fa;
}
.btn-search:hover {
    background-color: #447ff5;
}
.search-box:focus-within {
    border: .2rem solid #36c;
}
.lang-select select:focus {
    border: .1rem solid var(--anchor-primary-color);
}
.btn-search:focus {
    box-shadow: inset 0 0 0 .2rem #36c, inset 0 0 0 .3rem #fff;
}
.lang-list-button:hover {
    background-color: #fff;
}
.lang-list-button:focus {
    border-color: #36c;
    box-shadow: inset 0 0 0 1px #36c;
}
/*-----FOOTER PSEUDOCLASES & PSEUDOELEMENTOS-----*/
.donation-text-container a:hover {
    text-decoration: underline;
}
.wiki-box .primary-box:hover span {
    text-decoration: none;
}
.licence-terms-container a:first-child::after {
    content: "•";
    margin: 0 .8rem;
    color: var(--primary-color);
    cursor: default;
}
.licence-terms-container a:nth-child(2)::after {
    content: "•";
    margin: 0 .8rem;
    color: var(--primary-color);
    cursor: default;
}